<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.text_field :title, placeholder: "title" %>
    </div>
    <div class="field">
      <%= f.text_area :description, placeholder: "Summary"  %>
    </div>

    <h4>Ingredients</h4>
    <div id = "ingredients">
      <%= f.fields_for :ingredients do |i| %>
          <div class = "field recipe_ingredients">
            <%= render 'ingredient_fields', :f => i %>
          </div>
      <% end %>
      <%= link_to_add_association "Add Ingredient", f, :ingredients %>
    </div>
    <h4>Steps</h4>
    <div id = "ingredients">
      <%= f.fields_for :steps do |i| %>
          <div class = "field recipe_ingredients">
            <%= render 'step_fields', :f => i %>
          </div>
      <% end %>
      <%= link_to_add_association "Add Another Step", f, :steps %>
    </div>

    <div class="field">
      <%= f.text_field :tag_list, placeholder: "Tags (hint: sepperate tags with commas)" %>
    </div>

    <div class="field">
      <p>Add a picture</p>
      <%= f.file_field :meal%>
    </div>
    <div class="actions">
      <%= f.submit class:"round button" %>
    </div>
<% end %>
