<div class = "nested-fields">
  <div class="field large-6 columns">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field large-6 columns">
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </div>
  <%= link_to_remove_association "Remove Ingredient", f %>
</div>